html,body {
  width:100%;
  height:100%;
}

*:after {
  box-sizing: border-box;
}

*:before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  position: relative;
  margin: 0;
  padding: 0;
}

#wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0px;
}

#leftPanel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  overflow: auto;
}

#rightPanel {
  background: #EEE;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 150px;
  right: 0px;
}

::-webkit-scrollbar {
  display: none;
}
